# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Hệ điều hành
.DS_Store
Thumbs.db

# Frontend rác
healthcare-connect-frontend/node_modules/
healthcare-connect-frontend/dist/
healthcare-connect-frontend/.env*

# Backend rác (Java/Spring Boot)
healthcare-connect-backend/target/
healthcare-connect-backend/.mvn/
healthcare-connect-backend/*.jar
healthcare-connect-backend/.env*